@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

:root[data-tema="claro"] {
  --cor-fundo: conic-gradient(at top right, #8d8daa, #dfdfde, #f7f5f2);
  --cor-fundo2: rgb(255, 255, 255); /*Cor de fundo do "intro"*/
  --cor-fundo3: rgba(244, 238, 224, 0.5); /*Cor de fundo do "header"*/
  --cor-font: black;
  --cor-font-a: white;
  --cor-sombra1: rgba(192, 3, 64, 0.6);
}

:root[data-tema="escuro"] {
  --cor-fundo: radial-gradient(ellipse at top, #0f172a, #334155);
  --cor-fundo2: rgb(0, 0, 0);
  --cor-fundo3: rgba(57, 54, 70, 0.5);
  --cor-font: white;
  --cor-font-a: black;
  --cor-sombra1: rgba(192, 3, 64, 0.6);
}

body {
  font-size: 1.6rem;
  font-family: "Helvetica" sans-serif;
  background: var(--cor-fundo) no-repeat center;
  background-size: cover;
}

.Logo img {
  height: 60px;
  width: auto;
  padding: 1rem;
}

.Logo {
  display: flex;
  justify-content: center;
}

header {
  margin: 1rem 0 0 0;
  padding: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  position: fixed;
  right: 38%;
  background: var(--cor-fundo3);
  border-radius: 3rem;
  box-shadow: 0px 2px 5px 1px var(--cor-sombra1);
  z-index: 2;
  font-family: "Inconsolata";
  font-weight: 800;
  backdrop-filter: blur(.2rem) brightness(75%) contrast(100%);
}

header a {
  text-decoration: none;
  color: var(--cor-font);
}

header ul {
  list-style-type: none;
  display: flex;
  gap: 2rem;
  margin: 1rem;
}

button {
  border: none;
  background: none;
}

button:hover {
  cursor: pointer;
}

.botaoTema img {
  width: 50px;
  margin: 2rem;
  position: fixed;
  right: 1%;
  z-index: 2;
}

.intro {
  position: relative;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 4rem;
  z-index: 1;
  top: -2rem;
}

/* Background com noise colorido */
.intro::before {
  content: "";
  position: absolute;
  inset: 0;
  z-index: -1;

  background-color: var(--cor-fundo2);
  background-image: radial-gradient(
      circle at 1px 1px,
      rgba(139, 92, 246, 0.2) 1px,
      transparent 0
    ),
    radial-gradient(
      circle at 1px 1px,
      rgba(59, 130, 246, 0.18) 1px,
      transparent 0
    ),
    radial-gradient(
      circle at 1px 1px,
      rgba(236, 72, 153, 0.15) 1px,
      transparent 0
    );

  background-size: 20px 20px, 30px 30px, 25px 25px;
  background-position: 0 0, 10px 10px, 15px 5px;
}

.intro h1 {
  font-family: "Inconsolata";
  font-size: 3.4rem;
  font-weight: 800;
  color: var(--cor-font);
  max-width: 900px;
}

.intro figure img {
  width: 300px;
  border-radius: 50%;
  box-shadow: 0 0 40px var(--cor-sombra1);
}


