@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f2f2f3;
}

:root {
  --text: #000102;
  --primary: #040d12;
  --secondary: #183d3d;
  --accents: #5c8374;
}

header {
  margin: 1rem 2rem;
  display: flex;
  flex-direction: row;
  font-size: 14px;
  justify-content: center;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

header li, a {
  list-style: none;
  text-decoration: none;
  color: var(--text);
}

.intro h1{
  font-size: 60px;
}

.intro span {
  color: var(--secondary)
}

main {
  margin: 1.6rem;
}